<!-- Sidebar -->
<ul class="navbar-nav  sidebar accordion" id="accordionSidebar">

<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="home">
    <div class="sidebar-brand-icon rotate-n-15">
    <i class="far fa-grin"></i>
    </div>
    <div class="sidebar-brand-text mx-3">IF <sup>MI FIRMA</sup></div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" routerLink="home">
    <i class="fa fa-home"></i>
    <span>Inicio</span></a>
</li>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" routerLink="home">
    <i class="fas fa-home"></i>
    <span>Documntos</span></a>
</li>

</ul>
<!-- End of Sidebar -->
    
